body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* my code */
.brands {
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.brands__top {
  width: 50%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}
.brands__top-heading {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(46, 144, 209);
}
button {
  border: 1px solid red;
  background-color: transparent;
  color: red;
  text-transform: capitalize;
  border-radius: 25px;
  padding: 0.5rem 5rem;
}
/* .brands__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
} */
.brands {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.brands_slider_container {
  height: 130px;
  border: solid 1px #e8e8e8;
  /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); */
  padding-left: 97px;
  padding-right: 97px;
  background: #fff;
}

.brands_slider {
  height: 100%;
  margin-top: 50px;
}

.brands_item {
  width: 200px;
  height: 100px;
}

.brands_item img {
  max-width: 100px;
  height: 100%;
}

.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.brands_nav:hover i {
  color: #676767;
}

.brands_prev {
  left: 40px;
}

.brands_next {
  right: 40px;
}
